<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>splash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">splash</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<!-- src/app/splash/splash.page.html -->
<ion-content class="splash-screen">
  <div class="splash-container">
    <img src="/assets/img/img-tmp-2.jpeg" class="splash-logo" />
    <h1 class="splash-title">Bienvenido a Mi App</h1>
  </div>
</ion-content>
