ion-col {
    background-color: #316195;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
}
 
  /* Estilos para el contenido */
  ion-content {
    ion-item {
      margin: 20px; /* Margen alrededor del ion-item */
    }
  
    ion-button {
      margin: 20px; /* Margen alrededor del ion-button */
    }
  
    ion-text {
      margin: 20px; /* Margen alrededor del ion-text */
      text-align: center; /* Centrar el texto */
    }
  
    ion-grid {
      margin: 20px; /* Margen alrededor del ion-grid */
    }
  }