.fechaEstilo{
    --width: 90%; /* Ajusta el ancho, puede ser en % o px */
    --height: 450px; /* Ajusta la altura */
    --max-width: 400px; /* Ancho máximo */
    --border-radius: 10px; /* Redondeo de bordes opcional */
    --background: #ffffff; /* Fondo blanco */
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }