<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Men&uacute;</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="user-info">
      <ion-avatar>
        <img [src]="user?.imagen" alt="Imagen de usuario">
      </ion-avatar>
      <ion-label>
        <h2>{{ user?.nombre }} {{ user?.apellido }}</h2>
      </ion-label>
      <ion-button (click)="logout()">
        Cerrar Sesión
      </ion-button>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Veh&iacute;culo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="card-container">
      <ion-card *ngFor="let vehicle of vehicles">
        <ion-card-header>
          <ion-card-title>{{ vehicle.marca }} - {{vehicle.placa}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ vehicle.color }} - {{vehicle.fecFabricacion | date: 'yyyy-MM-dd' }} - {{vehicle.activo ? 'Activo' : 'Inactivo' }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
   
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToNewVehicle()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>