/* src/global.scss */

/* Definición de variables */
$gradient-background: linear-gradient(125deg, #241570, #1E456E, #316195, #52B2C0, #52B2C0);
$button-gradient-background: linear-gradient(135deg, #316195, #52B2C0); /* Nuevo gradiente para los botones */
$color-white: white;
$border-color: #505050;
$border-width: 4px 0;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$border-radius: 5px;
$padding: 10px;

/* Variables para los colores de los botones */
$button-background: #241570;
$button-background-hover: #e09cab;
$button-background-activated: #f48888;
$button-background-focused: #f48896;
$button-border-radius: 20px;

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/***************************************************************************************************/
/* Estilos globales para el contenido de login */
/***************************************************************************************************/

/* Configuraciones globales para ion-toolbar */
ion-toolbar {
  --background: #{$gradient-background};
  --color: #{$color-white};
  --min-height: 50px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

/* Configuraciones globales para ion-fab-button */
ion-fab-button {
  --background: #{$gradient-background};
  --background-activated: #878cda;
  --background-hover: #57539b;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: #{$color-white};
}

/* Configuraciones globales para ion-button */
ion-button {
  --background: #{$button-gradient-background}; /* Aplica el nuevo gradiente */
  --background-hover: #{$button-background-hover};
  --background-activated: #{$button-background-activated};
  --background-focused: #{$button-background-focused};
  --color: #{$color-white};
  --border-radius: #{$button-border-radius};
  --border-color: #000;
  --border-width: 1px;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --ripple-color: deeppink;
  --padding-top: #{$padding};
  --padding-bottom: #{$padding};
}

/* Configuraciones globales para ion-input */
ion-input {
  --background: rgba(255, 255, 255, 0.2);
  --border-radius: #{$border-radius};
  --padding-start: 10px;
  --padding-end: 10px;
}

/* Configuraciones globales para ion-modal */
ion-modal {
  --background: rgba(255, 255, 255, 0.9);
  --border-radius: 10px;
  --box-shadow: #{$box-shadow};
}

/* Configuraciones globales para ion-card */
ion-card {
  border: 1px solid #2a11eb; /* Contorno de la carta */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */
  color: #000000; /* Color del texto para contraste */
}