.card-container {
    display: flex;
    flex-direction: column;
    gap: 1px;
    /* Espacio entre las cartas */
}
.button-container {
    display: block;
    justify-content: center;
    margin: 0 auto;
}